## week2 day 2 coding challenge

In [ ]:
Q1. 
#inclde <stdio.h> 
int main()
{ 
float number = 2.2;
int integral = number; 
float fractional = number-integral;
printf("%d %f\n",integral , fractional);
return 0;
}

Q2.

In [1]:
print("Hellow world")

Hellow world

what ever we put in double code or sigle code in python interpreter is taken by string

In [2]:
print('Hellow AttainU')

Hellow AttainU

In [3]:
print("'Hellow' AttainU")

'Hellow' AttainU

In [4]:
s= '''AttainU bhabha batch
      year - 2021'''
print(s)

AttainU bhabha batch
      year - 2021

when ever you keep 3 single or double quotation mask . what ever is inside it will taken as string

In [5]:
s = """AttainU bhabha batch
year - 2021
cr - Mainuddin
class timing - 9am to 11am"""
print(s)

AttainU bhabha batch
year - 2021
cr - Mainuddin
class timing - 9am to 11am

Type of data

In [6]:
a = 5
print(type(a))

<class 'int'>

In [7]:
a = "ABCD"
print(type(a))

<class 'str'>

In [8]:
a = 5.5
print(type(a))

<class 'float'>

Q3.

In [9]:
a = input()
print(type(a))

"hellow"
<class 'str'>

In [10]:
a = input()
print(type(a))

5
<class 'str'>

5 is not a string but what ever we given console that is stored in A. python as consider as stringÂ¶

In [11]:
a =float(input())
print(type(a))

3.3
<class 'float'>

conversion of data from one type to another is called type casting

In [12]:
a =int(input())
print(type(a))

4
<class 'int'>

In [13]:
a =int(input())      # we cant convert float number to int
print(type(a))

3.3

ValueError: invalid literal for int() with base 10: '3.3'

In [14]:
a =float(input())      # we can convert int number to float
print(type(a))

3
<class 'float'>

In [15]:
a = float(input())
b = int(a)
print(type(b))

3.3
<class 'int'>

In [16]:
a = int(input())    # if i want to check a and b are equal
b = int(input())
print(a==b)

4
4
True

In [17]:
a = int(input())    # if i want to check a and b are equal
b = int(input())
print(a==b)

3
4
False

In [18]:
a = int(input())    # if i want to check a is greater than b 
b = int(input())
print(a>b)

5
4
True

In [19]:
a = int(input())    # if i want to check a is leser than b 
b = int(input())
print(a<b)

3
5
True

In [20]:
a = int(input())    # if i want to check a and b are not equal
b = int(input())
print(a!=b)

3
3
False

In [21]:
a = int(input())    # if i want to check a is greater than are equal to b 
b = int(input())
print(a>=b)

4
4
True

In [22]:
a = int(input())    # if i want to check a is leser than are equal to b 
b = int(input())
print(a<=b)

3
4
True